html {
    font-size: 10px;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 130%;
    color: #fff;
}
a {
    cursor: pointer;
}
h1 {
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 6.4rem;
}
.wrapper {
    max-width: 136rem;
    padding: 0 1rem;
    margin: 0 auto;
}
.title {
}