.container {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border-radius: 0px 0px 30px 30px;
    // height: 100vh;
}
.header_callback {
    padding: 1.85rem;
    display: flex;
    justify-content: space-between;
}
.header {
    margin-bottom: 18.2rem;
}
.header_callback-tools {
    span {
        padding-right: 1.2rem;
        background-image: url(../images/icon/Line.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: .7rem;
        &:not(:last-child) {
            margin-right: 4.7rem;
        }
    }
}
.header_callback-phone {
    span {
        cursor: pointer;
        &:nth-child(1) {
            margin-right: 2.1rem;
        }
        &:nth-child(2) {
            padding: 1.85rem 5.1rem;
            background-color: black;
            margin-right: 3rem;
        }
        &:nth-child(3) {
            margin-right: 2rem;
        }
    }
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 27.3rem;
    flex-shrink: 1;
}
.menu {
}
.menu_wrapper {
    display: flex;
}
.menu_item:not(:last-child) {
    margin-right: 4rem;
}
.menu_link {
}
.title_promo {
    max-width: 74.4rem;
    padding-bottom: 36.6rem;
}
.promo_button {
    position: relative;
}
.promo_button {
    cursor: pointer;
    img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
}