.services {
    background-color: var(--color-back);
    padding: 9rem 0 14rem;
}
.services_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "sale autoparts"
                          "sale servicing";
}
.sale {
    grid-area: sale;
}
.autoparst {
    grid-area: autoparts; 
}
.servicing {
    grid-area: servicing;
}
.services_wrapper-small {
    position: relative;
    figcaption {
        position: absolute;
        top: 3rem;
        left: 3rem;
        font-size: 2.4rem;
        letter-spacing: 0.12em;
    }
    .services_link {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        color: inherit;
        padding: 2.35rem 4.4rem;
        border: 1px solid #FFFFFF;
        font-size: 14px;
        letter-spacing: 0.12em;
        border: .1rem solid #fff;
        border-radius: 1rem;
        backdrop-filter: blur(2px);
        text-decoration: none;
}

}
.services_picture {
    display: block;
    width: 100%;
}
@media screen and (max-width: 800px){
    .services_grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "sale"
                             "autoparts"
                             "servicing";
    }
}